body{
  background-color: #610094;
  }
  .App {
    width: 90%;
    margin: auto;
    
  }
.sectionHeading{
font-size: 30px;
text-align: center;
color: white;
}

  /* Navbar  */
  #navbar{
    display: flex;
    gap: 10px;
    height: 10vh;
    font-size: 25px;
    font-weight: 700;
    background-color: #000000;
  }
  #navbar a{
    color: #DFF6FF;
    text-decoration: none;
  }
  #navbarLeft{
    width: 50%;
  }
  
  #navbarRight{
    width:50%;
    display:flex;
    justify-content:space-around;
  }
  
  /* Main section */
  #mainSection{
    height: 100vh;
    background-color: #150050;
    padding-top: 10%;
    z-index: -5;
  }

  #intro{
    display: flex;
    flex-direction: row;
    height: 60%;
  }

  #intro>div:first-child{
    width: 60%;
    height: 100%;
  }
  #intro>div:last-child{
    width: 40%;
    height: 100%;
  }

  #myName{
    color: white;
    font-size: 70px;
    margin: 20% 0px 0px 10%;
  }
  #designation{
    color: white;
    font-size: 30px;
    margin: 0px 0px 0px 10%;
  }
  #loader{
    text-align: center;
  }



  /* About Section  */
  #about{
    height: 100vh;
    background-color: #3F0071;
    padding: 5px 0 0 0;
  }

  #introText{
    color: white;
    width: 70%;
    font-size: 20px;
    margin: auto; 
    text-align: center;
  }
  #techStack{
    margin: 20% 0px 0px 0px;
  }



  /* Projects Section */
  #projects{
    height: 100vh;
    background-color: #150050;
  }



  /*Contact Section*/
  #contact{
    height: 90vh;
    background-color: #3F0071;
  }


  /*Footer Section*/
  #footer{
    height: 10vh;
    background-color: #150050;
  }

